q* { margin:0; padding:0; }


html, body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif; 
	font-size:12px; 
	margin:0 auto; 
	text-align:left; 
	color:#666; 
	background-color:#FFF;
}
#body-bg{
	background:url(../img/bg2.png);
	background-repeat:repeat-x;
	background-color:#7f141b;
	min-height: 706px;
	position: absolute;
	width: 100%;
	top: 0;
}
.white-bg{
	background-color:#fff;
	padding-top: 15px;
}
hr{
	background-color: #dddddd;
	width: 100%;
	height: 1px;
	border:0;	
}
a{
	color:#8f1720;	
}
a:hover{
	color:#f3953a;
}
/* begin new css - 24 Feb, 2014 */
.container{
	width:1030px;	
}
.head-wrap{
	margin-top:15px;
	margin-bottom:20px;
}
.logo-wrap{
	float:left;	
}
.nav-wrap{
	float:right;	
}
.slogan{
	font-size: 41px; 
	color:#f3f3f4;
	font-weight: 800;
	padding: 0;
	margin: 0;
	line-height: 39px;
	text-align:right;
}
.nav{
    background-color: #f0f0f0; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #ffffff, #d8d8d8); 
    background-image:    -moz-linear-gradient(top, #ffffff, #d8d8d8);
    background-image:     -ms-linear-gradient(top, #ffffff, #d8d8d8);
    background-image:      -o-linear-gradient(top, #ffffff, #d8d8d8);
    float: right;
	list-style: none;
	border-radius: 18px;
	margin-top: 25px;
	padding: 8px 0;
}

.nav li{
	float:left;
	text-align:center;
	width:auto;	
}
.nav li a{ font-size:18px; font-weight:800; color:#616161;}
.nav li a:hover,
.nav li a.active { color:#86151d;}
.nav li:after{
	content:"I";font-size:18px; font-weight:800; color:#616161;margin-top: -35px;width: 4px; float:right;
}
.nav li:last-child:after{
	content:"";	
}
.nav>li>a:hover, .nav>li>a:focus{
	color:#8f1720; background-color:transparent;
}
.active-nav-caret{
	position:absolute;
	margin-top:6px;	
}
.desktop-visible{
	display:block;	
}
.desktop-hidden{
	display:none;	
}
.mob-navbar{
	list-style:none;
	border-radius:0;
	background-color: transparent;
	background-image:none; 
	width:100%;
	margin-top:20px;
}
.mob-navbar li{
	float:left;
	width:100%;
	padding:0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0.25)
}
.mob-navbar li:last-child{
	border-bottom:none;	
}
.mob-navbar li:first-child{
	padding-top:10px;	
}
.mob-nav-wrap{
	background-color:#83151d;	
	margin-bottom:15px;
	border-bottom:1px solid #c7b6b8; 
	border-top:1px solid #c7b6b8;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
}
span.mob-menu-head {
	color: #fff;
	font-weight: 100;
	font-style: italic;
	text-transform: lowercase;
	font-size: 18px;
	padding-right: 12px;
	margin-top: 3px;
	display: inline-block;
	padding-left:15px;
}
.mob-nav-collapse{
	width:100%;	
}
/* page styles */
.page-bg{
	background-color: #e8e8e8; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #ffffff, #dcdcdc); 
    background-image:    -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background-image:     -ms-linear-gradient(top, #ffffff, #dcdcdc);
    background-image:      -o-linear-gradient(top, #ffffff, #dcdcdc);
	border-radius:30px;
	padding-left:45px;
	padding-right:35px;
	padding-top:45px;
	padding-bottom:20px;
	margin-bottom:20px;
	float:left;
	width:100%;
	min-height:400px;
}


/* headers */
.page-bg > h1{
	font-size: 41px;
	color: #8f1720;
	font-weight: 800;
	padding: 0;
	margin: 0;
	line-height: 39px;
	letter-spacing: -2px;
	padding-right:20px;
}

.page-bg > h2{
	font-size: 28px;
	color: #939393;
	font-weight: 400;
	padding: 0;
	margin: 0;
	line-height: 39px;
	margin-top: 8px;
}
.page-bg > h3{
	font-size: 22px;
	color: #616161;
	font-weight: 700;
}
.page-bg > h4{
	font-size: 14px;
	color: #636363;	
	margin-top: 15px;
}
/* paragraphs */
.page-bg p{
	font-size: 22px;
	color: #939393;
	padding-bottom: 10px;
	padding-top:10px;
}
.page-bg ul{
	font-size: 22px;
	color: #939393;
	float: left;
	width:100%;
}
.custom-label{
	font-size: 22px;
	color: #616161;
	font-weight: 600;
}
.f14{
	font-size:14px;	
}
.sub-page-title{
	font-size: 22px;
	color:#86151d;
	font-weight: 700;
}
.sub-page-anchor{
	font-size: 20px;
	color:#86151d;	
}
/* home boxes */
.home-boxes-wrap{
	margin-top:10px;
	margin-bottom:60px;
}
.home-boxes{
	cursor:pointer;
	overflow:hidden;	
}
.home-box-slide{ 	
	background-image : url(../img/home_item_bg.png);
	background-repeat:repeat;
	position: absolute;
	margin-right: 15px;
	margin-top:-45px;
	width: 100%;
}
.home-box-slide span{
	line-height: 45px;
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	display:block;
}
.home-box-slide:hover span{
	color:#fcb040;	
}
.home-box-slide p{
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 90%;
	padding-top: 0;
}
/* bottom boxes */
.bottom-box-wrap{
	float:left;
	width:100%;	
}
.bottom-boxes{
	max-width: 488px;
	/* min-height: 210px; */	
	margin-top:70px;
	margin-bottom:15px;
	padding-bottom:20px;
}
.bottom-boxes h2{
	font-size: 41px;
	color: #6a6a6a;
	font-weight: 800;
	line-height: 30px;
	padding-top: 20px;
	padding-left:32px;
	letter-spacing: -2px;
	margin-top: 0;
}
.bottom-boxes h3{
	font-size: 18px;
	font-weight: bold;
	padding-left: 32px;
	margin-top: 10px;
	margin-bottom:2px;
}
.bottom-boxes p{
	font-size: 14px;
	font-weight: normal;
	padding-left:32px;
}
.our-gurantee{
	background-image:url(../img/our_guarantee.png);
	background-repeat: no-repeat;
}
.supplier-signup{
	background-image:url(../img/supplier_signup.png);
	background-repeat: no-repeat;
	float:right;
}
/* forms */
.custom-form{
	margin-top:20px;	
}
.btn-next-step{
	display:inline;
	cursor:pointer;	
}
/* footer */
#footer{
	margin-bottom:20px;	
	float: left;
	width: 100%;
}
.copy{
	font-size: 12px;
	display:block;
}
.quicklinks-wrap{
	float:left;	
}
.quicklinks-head{
	color: #636363;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	display: block;
	padding: 6px 0;
}
.quicklinks{
	list-style:none;
	margin: 0;
	padding: 0;
	width: 48%;
	float: left;	
}
.quicklinks li a{
	color:#636363;	
}
.newsletter-signup-wrap{
	float:right;
}
.newsletter-signup{
 	background-image:url(../img/join.png);
	background-repeat:no-repeat;
	min-height:60px;
	min-width: 245px;
	float:right;	
}
.newsletter-signup input{
	background-color:transparent;
	border:none;
	min-height: 43px;
	padding-left: 15px;	
	width:160px;
}
.newsletter-head{
	color: #636363;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 10px;
	float:right;
}
.newsletter-signup-btn{
	float: right;
	width: 84px;
	position: absolute;
	height: 43px;
	cursor: pointer;
}

/* bootstrap overwrite helpers */
.custom-group{
	float:left;
	width:100%;	
}
/* bootstrap overwrite ends */
@media (max-width:1060px){
	.container{ width:100%;}
	.logo-wrap{
		width:25%;	
	}
	.logo-wrap img{
		width:100%;	
	}
	.nav-wrap{
		width: 75%;
	}
	.slogan{
		font-size: 17px;
		line-height:17px;
	}
	.nav{
		padding:0;
		margin-top:14px;	
	}
	.nav li a{
		font-size: 15px;	
	}
	.nav li:after {
		font-size: 15px;
		margin-top: -31px;
	}
	.active-nav-caret{
		margin-top:0;	
	}
	.page-bg{
		padding-left:28px;
		padding-right:20px;
		padding-top:22px;	
		border-radius:20px;
	}
	.home-boxes-wrap{
		padding-right:0;	
	}
	.home-boxes{
		margin-bottom: 16px;
		margin-right:16px;
		display:inline-block;
		width:47%;
	}
	.home-boxes img{
		width:100%;
	}
	.page-bg > h1{
		display:block;
		font-size:28px;	
	}
	.page-bg > h2{
		font-size:20px;	
		display:block;
		line-height: 20px;
	}
	.page-bg > h3{
		font-size:18px;	
	}
	.sub-page-title{
		font-size: 18px;
	}
	.sub-page-anchor{
		font-size: 16px;
	}
	.page-bg ul{
		font-size: 16px;	
	}
	.page-bg p{
		font-size: 16px;	
	}
	.custom-label{
		font-size:16px;	
	}
	.bottom-boxes{
		width:48%;
		float:left;
		padding-bottom:32px;
	}
	.bottom-boxes h2 {
		font-size: 24px;
		padding-top: 10px;
		padding-left: 5px;
		margin-top: 0;
		margin-bottom: 0px;
	}
	.bottom-boxes h3 {
		font-size: 14px;
		padding-left: 5px;
		margin-top: 1px;
		margin-bottom: 5px;
	}
	.bottom-boxes p {
		font-size: 11px;
		padding-left: 5px;
	}
	.our-gurantee,
	.supplier-signup{
		background-size: 100%;
	}

		
		
}

@media (max-width:768px){
	.desktop-visible{
		display:none;	
	}
	.desktop-hidden{
		display:block;	
	}
	#body-bg{
		min-height:955px;	
	}
	.white-bg{
		position:absolute;	
	}
	.head-wrap{
		margin-top: 0; 
		background-color: #83151d;
		padding-top: 10px;
		padding-bottom: 10px;	
	}
	.logo-wrap{
		width:auto;	
	}
	.logo-wrap img{
		width:auto;	
	}
	.slogan{
		margin-bottom:15px;
		text-align:left;
		line-height:20px;
	}
	.btn-navbar{
		float:right;	
		background-color: #ba1625; 
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ba1625), to(#7a0910));
		background-image: -webkit-linear-gradient(top, #ba1625, #7a0910); 
		background-image:    -moz-linear-gradient(top, #ba1625, #7a0910);
		background-image:     -ms-linear-gradient(top, #ba1625, #7a0910);
		background-image:      -o-linear-gradient(top, #ba1625, #7a0910);
		border: 1.5px solid #e1aab0;
		border-radius: 6px;
	}
	.btn-navbar .fa{
		color:#fff;	
	}
	.nav li:after {
		content: "";
	}
	.mob-menu-btn{
		margin-right:15px;	
	}
	.mob-navbar li a{
		font-size: 13px;
		line-height: 10px;
		text-align: left;
		padding:15px 0 15px 15px;
		font-weight: 500;
		color:#f3f3f4;
	}
	.mob-navbar li:hover,
	.mob-navbar li a:hover,
	.mob-navbar li a.active{
		color:#f3953a;
	}
	.page-bg{
		padding-left:20px;
		padding-right:20px;
		padding-top:16px;	
	}
	.page-bg > h1{
		font-size:25px;	
	}
	.page-bg > h2{
		font-size:18px;	
	}
	.page-bg > h3{
		font-size:16px;	
	}
	.sub-page-title{
		font-size: 16px;
	}
	.sub-page-anchor{
		font-size: 14px;
	}
	.page-bg ul{
		font-size: 14px;	
	}
	.page-bg p{
		font-size:14px;
	}
	.home-boxes{
		margin-right:0;
		width:100%;
	}
	.home-boxes img{
		width:100%;
	}
	.quicklinks-wrap{
		padding-left:0;
		padding-right:0;
		margin-top:100px;	
	}
	.newsletter-signup-wrap{
		position:absolute;	
		left:0;
	}
	.newsletter-head{
		float:left;	
	}
	.quicklinks{
		width:100%;	
	}
	
}
@media (max-width: 480px){
	.logo-wrap img{
		width:100%;	
	}
	.btn-next-step{
		width:90%;	
	}
}

@media (max-width: 320px){
	
}

/* helpers */
.inline{
	display:inline;	
}
.remove-gutters{
	padding-left:0;
	padding-right:0;	
}
.remove-left-gutter{
	padding-left:0;	
}
.remove-right-gutter{
	padding-right:0;	
}
.push{
	float:left;	
}
.text-right{
	text-align:right;	
}
.error{
	border-color:#a94442;	
}
.text-dark-grey{
	color:#616161 !important;	
}
.bolder{
	font-weight:800;	
}

/* end new css */

